<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>GradPrijedor.info</name>

<description>
Demo android aplikacija portala www.gradprijedor.info.
</description>

<author href="http://www.gradprijedor.info" email="reklama@gradprijedor.info">
ELPIN Prijedor 066/709-846
</author>

</widget>
